
<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GameHub - Modifica informazioni</title>
  <link rel="stylesheet" th:href="@{/css/registraUtente.css}"}/>
</head>
<body>
	<body>
		<header class="header">
		  <nav class="nav">
		    <a class="logo">GameHub</a>
		    <div class="nav-links">
		      <a th:href="@{'/utente/'+${utente.id}}" class="nav-link active">Profilo</a>
		      <a th:href="@{/utente/videogiochi}"  class="nav-link">Videogiochi</a>
		      <a th:href="@{/logout}" class="nav-link">Esci</a>
		    </div>
		  </nav>
		</header>
		
		<main class="main-content">
		
		  <h1>Modifica profilo</h1>
		  
		  <!-- Messaggio di successo -->
		  <span th:if="${msgSuccess}" class="success-message" th:text="${msgSuccess}"></span>
		  <!-- Messaggio di errore -->
		  <span th:if="${msgError}" class="error-message" th:text="${msgError}"></span>
		  
		  <form th:action="@{'/utente/'+ ${utente.id} + '/modificaProfilo'}" method="POST" autocomplete="off" novalidate>
		      <!-- Utente fields -->
		      <div class="form-group">
		        <label for="nome">Nome</label>
		        <input type="text" th:field="${utente.nome}" placeholder="Inserisci nome" required minlength="2" autocomplete="off"/>
		        <span class="form-feedback" th:if="${#fields.hasErrors('utente.nome')}" th:errors="${utente.nome}"></span>
		      </div>
		      <div class="form-group">
		        <label for="cognome">Cognome</label>
		        <input type="text" th:field="${utente.cognome}" placeholder="Inserisci cognome" required minlength="2" autocomplete="off"/>
		        <span class="form-feedback" th:if="${#fields.hasErrors('utente.cognome')}" th:errors="${utente.cognome}"></span>
		      </div>
		      <div class="form-group">
		        <label for="email">Email</label>
		        <input type="email" th:field="${utente.email}" placeholder="Inserisci email" required/>
		        <span class="form-feedback" th:if="${#fields.hasErrors('utente.email')}" th:errors="${utente.email}"></span>
		      </div>
		      <button type="submit">Modifica profilo</button>
		</main>
		<footer class="footer">
		  <div class="footer-content">
		    <p>GameHub Italia - La tua piattaforma di videogiochi</p>
		  </div>
		</footer>
	</body>
</html>

